In [1]:
# special IPython command to prepare the notebook for matplotlib
%matplotlib inline 

import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
import statsmodels.api as sm
import re

import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

# special matplotlib argument for improved plots
from matplotlib import rcParams

In [2]:
# names of column headers
columns = ['Timestamp', 'IP Address', 'URL', 'User ID', 'City', 'Region/State', 'Country']

In [4]:
# load dataset
click_stream_data = pd.read_csv('./data/ClickStreamData.txt', sep='\t', usecols=columns, parse_dates=['Timestamp'])

In [5]:
click_stream_data.head()

,Timestamp,IP Address,URL,User ID,City,Region/State,Country
0,2012-03-22 01:17:00,99.122.210.17,https://www.ideatory-store.com/SH51443900/VD61...,6YBY0MC9-IMGB-F69S-8BLX-2NHAMVT8D0F3,Homestead,Florida,United States of America
1,2012-03-22 01:34:00,69.76.12.236,https://www.ideatory-store.com/SH51443900/VD30...,4MPY5H71-14AO-Z591-YCKB-K4288KV6V8WH,Coeur D Alene,Idaho,United States of America
2,2012-03-22 17:23:00,67.240.15.11,https://www.ideatory-store.com/SH51443900/VD96...,KTZML6WD-V8GA-JBW9-UWOS-XW2W0K38Y876,Queensbury,New York,United States of America
3,2012-03-22 17:05:00,67.240.15.11,https://www.ideatory-store.com/SH51443900/VD21...,KTZML6WD-V8GA-JBW9-UWOS-XW2W0K38Y876,Queensbury,New York,United States of America
4,2012-03-22 01:27:00,98.234.107.79,https://www.ideatory-store.com/SH51443900/VD05...,21V1Y4O9-B81P-4WRZ-TGQG-SPUCB9KUM326,Sunnyvale,California,United States of America

In [6]:
# headers of product category data
columns = ['URL', 'Category']

In [7]:
# load product data
product_data = pd.read_csv('./data/ProductCategoryData.txt', sep='\t', usecols=columns)

In [8]:
product_data.head()

                                                 URL     Category
0                    https://www.ideatory-store.com/        books
1  https://www.ideatory-store.com/SH51443900/VD21...       movies
2  https://www.ideatory-store.com/SH51443900/VD66...        games
3  https://www.ideatory-store.com/SH51443900/VD90...  electronics
4  https://www.ideatory-store.com/SH51443900/VD96...    computers

In [9]:
# headers of user data
columns = ['User ID', 'Number of friends', 'College Education']

In [10]:
# load user data
user_data = pd.read_csv('./data/UserProfileData.txt', sep='\t', usecols=columns)

In [11]:
user_data.head()

                                User ID  Number of friends College Education
0  72Y0WQ31-XQKU-4LTM-40ZX-PX37G6IK7S59                113                No
1  5GGQCY44-OK2D-XGS4-GJOY-U4RXBVXF7J3M                 99                No
2  0SIFQG2V-TWFE-0RE7-8DL5-KYR2N4UMTYMY                  0                No
3  WSCKFU9U-VQQM-99VL-ZZBS-2EGJ8RR9J55K                  0               Yes
4  ZYV7RIS4-1G7X-ZCHF-ISUE-BF00R8NB8JHM                113               Yes

In [12]:
# process column names

def preprocess_column_names(col_name):
    col_name = col_name.lower()
    col_name = re.sub(r'[^a-z]', '', col_name)
    
    return col_name

In [13]:
click_stream_data.columns = click_stream_data.columns.map(preprocess_column_names)
user_data.columns = user_data.columns.map(preprocess_column_names)
product_data.columns = product_data.columns.map(preprocess_column_names)

## Exploratory Data Analysis

In [16]:
click_stream_data.columns

Index([u'timestamp', u'ipaddress', u'url', u'userid', u'city', u'regionstate', u'country'], dtype='object')

In [15]:
# Unique countries in the dataset
click_stream_data.country.unique()

array(['United States of America', 'Australia', 'Puerto Rico', 'Portugal',
       'Canada', 'Germany', 'South Africa', 'Japan', 'Philippines',
       'Colombia', 'Thailand', 'Italy', 'Northern Mariana Islands',
       'France', 'Switzerland', 'Jamaica', 'Czech Republic', 'Spain',
       'Guam', 'United Kingdom', 'Virgin Islands'], dtype=object)

In [18]:
# merge user and items data
user_merged = pd.merge(click_stream_data, user_data, on='userid')

In [21]:
merged_data = pd.merge(user_merged, product_data, on='url')

In [136]:
merged_data.tail(10)

,timestamp,ipaddress,url,userid,city,regionstate,country,numberoffriends,collegeeducation,category
332643,2012-03-14 12:05:00,208.49.58.49,https://www.ideatory-store.com/SH28141648/VD75...,QZLFY9PU-4DEQ-SSK0-5Y0N-TG4CE254YHYN,Oshkosh,Wisconsin,United States of America,116,No,clothing
332644,2012-03-14 17:15:00,65.175.186.158,https://www.ideatory-store.com/SH28141648/VD75...,WR2C67KU-P02X-AD77-LVM1-QS2GXPF3N0NS,Belmont,New Hampshire,United States of America,94,Yes,clothing
332645,2012-03-22 18:47:00,98.177.234.23,https://www.ideatory-store.com/SH29978718/VD61...,KUIFHRB5-HWA9-VTLO-5D8X-URVGLRYX0FD6,Peoria,Arizona,United States of America,118,Yes,accessories
332646,2012-03-19 09:54:00,68.110.254.251,https://www.ideatory-store.com/SH94844021/VD72...,NOB60U2Q-W73H-H0GC-TGGP-M1RX64QHJEJJ,Fredericksburg,Virginia,United States of America,98,Unknown,shoes
332647,2012-03-14 21:27:00,66.112.117.192,https://www.ideatory-store.com/SH87807518/VD50...,4N86W13O-FQVO-NPKG-S7S9-HU8OWCPZP3Q6,Redgranite,Wisconsin,United States of America,149,Unknown,clothing
332648,2012-03-14 21:12:00,66.112.117.192,https://www.ideatory-store.com/SH87807518/VD50...,4N86W13O-FQVO-NPKG-S7S9-HU8OWCPZP3Q6,Redgranite,Wisconsin,United States of America,149,Unknown,clothing
332649,2012-03-14 21:21:00,66.112.117.192,https://www.ideatory-store.com/SH87807518/VD50...,4N86W13O-FQVO-NPKG-S7S9-HU8OWCPZP3Q6,Redgranite,Wisconsin,United States of America,149,Unknown,clothing
332650,2012-03-14 21:20:00,66.112.117.192,https://www.ideatory-store.com/SH87807518/VD50...,4N86W13O-FQVO-NPKG-S7S9-HU8OWCPZP3Q6,Redgranite,Wisconsin,United States of America,149,Unknown,clothing
332651,2012-03-14 21:25:00,66.112.117.192,https://www.ideatory-store.com/SH87807518/VD50...,4N86W13O-FQVO-NPKG-S7S9-HU8OWCPZP3Q6,Redgranite,Wisconsin,United States of America,149,Unknown,clothing
332652,2012-03-14 21:32:00,66.112.117.192,https://www.ideatory-store.com/SH87807518/VD50...,4N86W13O-FQVO-NPKG-S7S9-HU8OWCPZP3Q6,Redgranite,Wisconsin,United States of America,149,Unknown,clothing

In [38]:
# group this data by userid
grouped_by_user_and_cat = merged_data.groupby(['userid', 'category'])

In [39]:
transaction_data = grouped_by_user_and_cat.size().unstack(1).fillna(0)

In [46]:
transaction_data.head()

category,accessories,automotive,books,clothing,computers,electronics,games,handbags,home&garden,movies,outdoors,shoes,tools
userid,,,,,,,,,,,,,
0011GRB2-5JJ3-KJUO-RMCP-0TBHC08UAXLX,0,0,0,27,0,0,0,0,0,0,0,0,0
002Y4OT6-5QCS-48PD-CDLK-0TSRUM620CLY,0,0,0,13,0,0,0,0,0,0,0,0,0
005O4L5Z-JUEX-BAPR-62BV-WGYFGA88C2TK,0,0,0,0,0,0,0,24,0,0,0,35,0
0068W263-8Q86-BZER-U4K7-H07PX1BPFQ71,0,0,0,0,0,0,0,0,0,0,0,15,0
006EGSY4-FKS5-MT33-7TCF-RNHZL3EPJOXH,0,0,0,20,0,0,0,0,0,0,0,0,0

In [45]:
# top most searched categories across all users.
transaction_data.sum(axis=0).order(ascending=False)

category
clothing       145623
shoes          107990
handbags        31880
home&garden     17987
computers       10204
movies           9007
electronics      7067
games            2146
tools             425
outdoors          278
automotive         32
books              13
accessories         1
dtype: float64

In [47]:
# now lets see what products from different categories did a user buy 
# during a single session ( consider a day's activity as a single session ).

usage_data = merged_data.copy()
usage_data['date_purchased'] = usage_data.timestamp.map(lambda x: x.strftime('%Y-%m-%d'))

In [51]:
session_data = usage_data.groupby(['userid', 'date_purchased', 'category'])

In [54]:
session_db = session_data.size().unstack(2).fillna(0)

In [150]:
session_db.columns = session_db.columns.map(preprocess_column_names)

In [151]:
session_db.head()

,,accessories,automotive,books,clothing,computers,electronics,games,handbags,homegarden,movies,outdoors,shoes,tools
userid,date_purchased,,,,,,,,,,,,,
0011GRB2-5JJ3-KJUO-RMCP-0TBHC08UAXLX,2012-12-03,0,0,0,27,0,0,0,0,0,0,0,0,0
002Y4OT6-5QCS-48PD-CDLK-0TSRUM620CLY,2012-03-13,0,0,0,13,0,0,0,0,0,0,0,0,0
005O4L5Z-JUEX-BAPR-62BV-WGYFGA88C2TK,2012-03-19,0,0,0,0,0,0,0,24,0,0,0,35,0
0068W263-8Q86-BZER-U4K7-H07PX1BPFQ71,2012-03-19,0,0,0,0,0,0,0,0,0,0,0,15,0
006EGSY4-FKS5-MT33-7TCF-RNHZL3EPJOXH,2012-03-22,0,0,0,20,0,0,0,0,0,0,0,0,0

In [152]:
from itertools import combinations

candidate_rules = combinations(session_db.columns, 2)

In [132]:
def support(items, df):
    tot_support = 0.0
    query_elem = []
    
    for item in items:
        query_str = ''
        query_str = str(item) + ' > 0'
        query_elem.append(query_str)
    
    final_query = ' & '.join(query_elem)
    contains_item = df.query(final_query)
    tot_support = tot_support + (contains_item.shape[0] / np.float(df.shape[0]))
    
    return tot_support

In [133]:
def confidence(candidateRule, db):
    x, y = candidateRule
    rule = [x, y]
    antecedant = [x]
    
    return np.float(support(rule, db) / support(antecedant, db))

In [153]:
for rule in candidate_rules:
    print '%s -> %s confidence in this rule %f ' %(rule[0], rule[1], confidence(rule, session_db))

accessories -> automotive confidence in this rule 0.000000
accessories -> books confidence in this rule 0.000000
accessories -> clothing confidence in this rule 0.000000
accessories -> computers confidence in this rule 0.000000
accessories -> electronics confidence in this rule 0.000000
accessories -> games confidence in this rule 0.000000
accessories -> handbags confidence in this rule 0.000000
accessories -> homegarden confidence in this rule 0.000000
accessories -> movies confidence in this rule 0.000000
accessories -> outdoors confidence in this rule 0.000000
accessories -> shoes confidence in this rule 1.000000
accessories -> tools confidence in this rule 0.000000
automotive -> books confidence in this rule 0.000000
automotive -> clothing confidence in this rule 0.000000
automotive -> computers confidence in this rule 0.000000
automotive -> electronics confidence in this rule 0.166667
automotive -> games confidence in this rule 0.000000
automotive -> handbags confidence in this rule 0.166667
automotive -> homegarden confidence in this rule 0.166667
automotive -> movies confidence in this rule 0.166667
automotive -> outdoors confidence in this rule 0.000000
automotive -> shoes confidence in this rule 0.166667
automotive -> tools confidence in this rule 0.000000
books -> clothing confidence in this rule 0.307692
books -> computers confidence in this rule 0.076923
books -> electronics confidence in this rule 0.076923
books -> games confidence in this rule 0.000000
books -> handbags confidence in this rule 0.230769
books -> homegarden confidence in this rule 0.153846
books -> movies confidence in this rule 0.076923
books -> outdoors confidence in this rule 0.000000
books -> shoes confidence in this rule 0.307692
books -> tools confidence in this rule 0.000000
clothing -> computers confidence in this rule 0.018742
clothing -> electronics confidence in this rule 0.013603
clothing -> games confidence in this rule 0.000151
clothing -> handbags confidence in this rule 0.087969
clothing -> homegarden confidence in this rule 0.039148
clothing -> movies confidence in this rule 0.012092
clothing -> outdoors confidence in this rule 0.000151
clothing -> shoes confidence in this rule 0.074063
clothing -> tools confidence in this rule 0.001360
computers -> electronics confidence in this rule 0.326316
computers -> games confidence in this rule 0.045614
computers -> handbags confidence in this rule 0.384211
computers -> homegarden confidence in this rule 0.524561
computers -> movies confidence in this rule 0.187719
computers -> outdoors confidence in this rule 0.000000
computers -> shoes confidence in this rule 0.085965
computers -> tools confidence in this rule 0.001754
electronics -> games confidence in this rule 0.126168
electronics -> handbags confidence in this rule 0.264019
electronics -> homegarden confidence in this rule 0.320093
electronics -> movies confidence in this rule 0.275701
electronics -> outdoors confidence in this rule 0.002336
electronics -> shoes confidence in this rule 0.000000
electronics -> tools confidence in this rule 0.000000
games -> handbags confidence in this rule 0.289720
games -> homegarden confidence in this rule 0.177570
games -> movies confidence in this rule 0.355140
games -> outdoors confidence in this rule 0.000000
games -> shoes confidence in this rule 0.000000
games -> tools confidence in this rule 0.000000
handbags -> homegarden confidence in this rule 0.233836
handbags -> movies confidence in this rule 0.030141
handbags -> outdoors confidence in this rule 0.000486
handbags -> shoes confidence in this rule 0.066116
handbags -> tools confidence in this rule 0.002431
homegarden -> movies confidence in this rule 0.076063
homegarden -> outdoors confidence in this rule 0.000000
homegarden -> shoes confidence in this rule 0.088367
homegarden -> tools confidence in this rule 0.001119
movies -> outdoors confidence in this rule 0.000000
movies -> shoes confidence in this rule 0.089354
movies -> tools confidence in this rule 0.000000
outdoors -> shoes confidence in this rule 0.054054
outdoors -> tools confidence in this rule 0.000000
shoes -> tools confidence in this rule 0.000209